.banner-text{
    position: relative;
}

.banner-text .head-text{
    font-family: 'Poppins', sans-serif;
}

.banner-heading{
    
}

.banner-title{
    color: #767676;
    font-style: italic;
}

.banner-img{
    background-color: #F5F5F5;
    
}

.banner-img img{
    
}



